Django
git+https://github.com/TheEnbyperor/django-keycloak-auth@0886091191d341fdce3cc7597100b5f97bb1d93e
sentry-sdk
psycopg2-binary
gunicorn
django-crispy-forms
django-xff
retry
requests
django-cockroachdb==3.1.*
