Django
git+https://github.com/TheEnbyperor/django-keycloak-auth@5db5753f082436b1bbb13eefb38449d89380538b
sentry-sdk
psycopg2-binary
gunicorn
django-crispy-forms
django-xff
retry
requests
django-cockroachdb==3.1.*
