Django
git+https://github.com/TheEnbyperor/django-keycloak-auth@9e4826f729bc0183584cb9cab7dc4decef25aac4
sentry-sdk
psycopg2-binary
gunicorn
django-crispy-forms
django-xff
retry
requests
django-cockroachdb==3.1.*
